/* navbar style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar-1-4.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-1-4 .bg-black {
  background-color: #1f1d2b;
}

.navbar-1-4 .btn-get-started {
  border-radius: 20px;
  padding: 12px 30px;
  font-weight: 500;
}

.navbar-1-4 .btn-get-started-purple {
  background-color: #525298;
  transition: 0.3s;
}

.navbar-1-4 .btn-get-started-purple:hover {
  background-color: #5454a8;
  transition: 0.3s;
}

/* main Hero Style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.content-3-1 .btn:focus,
.content-3-1 .btn:active {
  outline: none !important;
}

.content-3-1 {
  padding: 5rem 2rem;
}

.content-3-1 .img-hero {
  width: 100%;
  margin-bottom: 3rem;
}

.content-3-1 .right-column {
  width: 100%;
}

.content-3-1 .title-text {
  font: 600 1.875rem/2.25rem Poppins, sans-serif;
  margin-bottom: 2.5rem;
  letter-spacing: -0.025em;
  color: #121212;
}

.content-3-1 .title-caption {
  font: 500 1.5rem/2rem Poppins, sans-serif;
  margin-bottom: 1.25rem;
  color: #121212;
}

.content-3-1 .circle {
  font: 500 1.25rem/1.75rem Poppins, sans-serif;
  height: 3rem;
  width: 3rem;
  margin-bottom: 1.25rem;
  border-radius: 9999px;
  background-color: #525298;
}

.content-3-1 .text-caption {
  font: 400 1rem/1.75rem Poppins, sans-serif;
  letter-spacing: 0.025em;
  color: #565656;
}

.content-3-1 .btn-learn {
  font: 600 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 2.5rem;
  background-color: #525298;
  transition: 0.3s;
  letter-spacing: 0.025em;
  border-radius: 0.75rem;
}

.content-3-1 .btn-learn:hover {
  background-color: #525298;
  transition: 0.3s;
}

.card-text {
  align-items: center;
  text-align : center;
}

@media (min-width: 768px) {
  .content-3-1 .title-text {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
  }
}

@media (min-width: 992px) {
  .content-3-1 .img-hero {
    width: 50%;
    margin-bottom: 0;
  }

  .content-3-1 .right-column {
    width: 50%;
  }

  .content-3-1 .circle {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}